#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}
#poster{
  height: 100%;
  max-height: 100vh;
  width: auto;
}

#title{
  font-size: 28px;
  text-align: center;
  margin-bottom: 2px;
}
.subtitle{
  font-size: 18px;
  text-align: center;
  margin-bottom: 2px;
}
.shadow{
  -webkit-box-shadow: 0px 0px 12px 9px rgba(0,0,0,0.02);
  -moz-box-shadow: 0px 0px 12px 9px rgba(0,0,0,0.02);
  box-shadow: 0px 0px 12px 9px rgba(0,0,0,0.02);
}
ion-item ion-text ion-label{
  width: 50vw;
}
.addButton{
  width: 100%;
  align-content: center;
}

