<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{"DETAILS" | translate}}
    </ion-title>
    <ion-icon name="language" slot="end" style="margin-right: 15px" (click)="uiService.startLangList()"></ion-icon>
    <ion-icon slot="end" name="color-palette" style="margin-right: 15px" (click)="uiService.openListColors()"></ion-icon>
    <ion-button slot="end" style="padding-right: 5px" (click)="logout()">
      <ion-icon name="exit"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-content *ngIf="!loaded else isLoaded">
    <div id="container">
      <strong *ngIf="!loading; else isLoading">{{'DETAILNOTLOAD' | translate}}</strong>
      <ng-template #isLoading>
        <ion-spinner name="crescent"></ion-spinner>
      </ng-template>
    </div>
  </ion-content>

  <ng-template #isLoaded>
    <ion-content>
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <h1 id="title" >{{movieDetail.title}}</h1>
          </ion-col>
          <ion-col size-xl="6" size="12" id="containerimage">
            <ion-img *ngIf="movieDetail.poster != 'N/A' else notfound" [src]=movieDetail.poster id="poster"></ion-img>
            <ng-template #notfound>
              <ion-img src="https://cdn.browshot.com/static/images/not-found.png"></ion-img>
            </ng-template>
          </ion-col>
          <ion-col size-xl="6" size="12" id="container_data">
            <p>
              <ion-chip>
                <ion-label>{{movieDetail.year}}</ion-label>
              </ion-chip>
              <ion-chip>
                <ion-label>{{movieDetail.runtime}}</ion-label>
              </ion-chip>
              <ion-chip>
                <ion-label>{{movieDetail.rated}}</ion-label>
              </ion-chip>
              <ion-chip>
                <ion-label>{{movieDetail.genre}}</ion-label>
              </ion-chip>
            </p>
            <ion-label id="plot">{{movieDetail.plot}}</ion-label>
            <p>
              <ion-chip *ngFor="let item of movieDetail.ratings">
                <ion-label color="primary">{{item.source}} </ion-label>
                <ion-chip>
                  <ion-label>{{item.value}} </ion-label>
                </ion-chip>
              </ion-chip>
            </p>
            <div>
              <p class="subtitle">{{"AWARDS" | translate}}</p>
              <ion-label *ngIf="movieDetail.awards !== 'N/A'; else noAwards">{{movieDetail.awards}}</ion-label>
              <ng-template #noAwards>
                <ion-label >{{'NOINFO' | translate}}</ion-label>
              </ng-template>
            </div>
            <div>
              <p class="subtitle">{{"CAST" | translate}}</p>
              <ion-list>
                <ion-list-header>{{"DIRECTOR" | translate}}</ion-list-header>
                <ion-item (click)="openURL('https://www.google.com/search?q='+movieDetail.director)" *ngIf="movieDetail.director !== 'N/A'; else noDirector">
                  <ion-label>{{movieDetail.director}}</ion-label>
                  <ion-icon name="search" slot="end" color="primary"></ion-icon>
                </ion-item>
                <ng-template #noDirector>
                  <ion-item (click)="uiService.setToast('NOINFO')">
                    <ion-label>{{'NOINFO' | translate}}</ion-label>
                  </ion-item>
                </ng-template>
                <ion-list-header>{{"ACTOR" | translate}}</ion-list-header>
                <div *ngIf="movieDetail.actors !== 'N/A'; else noActor">
                  <ion-item *ngFor="let nombre of movieDetail.actors.split(',')" (click)="openURL('https://www.google.com/search?q='+nombre)">
                    <ion-label>{{nombre}}</ion-label>
                    <ion-icon name="search" slot="end" color="primary"></ion-icon>
                  </ion-item>
                </div>
                <ng-template #noActor>
                  <ion-item (click)="uiService.setToast('NOINFO')">
                    <ion-label>{{'NOINFO' | translate}}</ion-label>
                  </ion-item>
                </ng-template>
              </ion-list>
              <ion-list>
                <ion-list-header>{{"SCREENWRITER" | translate}}</ion-list-header>
                <div *ngIf="movieDetail.writer !== 'N/A'; else noWriter">
                  <ion-item *ngFor="let nombre of movieDetail.writer.split(',')" (click)="openURL('https://www.google.com/search?q='+nombre)">
                    <ion-label>{{nombre}}</ion-label>
                    <ion-icon name="search" slot="end" color="primary"></ion-icon>
                  </ion-item>
                </div>
                <ng-template #noWriter>
                  <ion-item (click)="uiService.setToast('NOINFO')">
                    <ion-label>{{'NOINFO' | translate}}</ion-label>
                  </ion-item>
                </ng-template>
              </ion-list>
            </div>

          </ion-col>
          <ion-col size="12">
            <p class="subtitle">{{"INFORMATION" | translate}}</p>
            <ion-list>
              <ion-item>
                <ion-text>
                  <ion-label>{{"MONEYRAISED" | translate}}</ion-label>
                </ion-text>
                <ion-text slot="end">
                  <ion-label>{{movieDetail.boxOffice}}</ion-label>
                </ion-text>
              </ion-item>
              <ion-item>
                <ion-text>
                  <ion-label>{{"COUNTRY" | translate}}</ion-label>
                </ion-text>
                <ion-text slot="end">
                  <ion-label>{{movieDetail.country}}</ion-label>
                </ion-text>
              </ion-item>
              <ion-item>
                <ion-text>
                  <ion-label>{{"DVDRELEASE" | translate}}</ion-label>
                </ion-text>
                <ion-text slot="end">
                  <ion-label>{{movieDetail.dvd}}</ion-label>
                </ion-text>
              </ion-item>
              <ion-item>
                <ion-text>
                  <ion-label>{{"LANGUAGE" | translate}}</ion-label>
                </ion-text>
                <ion-text slot="end">
                  <ion-label>{{movieDetail.language}}</ion-label>
                </ion-text>
              </ion-item>
              <ion-item>
                  <ion-text>
                    <ion-label position="">{{"PRODUCTION" | translate}}</ion-label>
                  </ion-text>
                <ion-text slot="end">
                  <ion-label>{{movieDetail.production}}</ion-label>
                </ion-text>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="12">
            <ion-button (click)="seeLater(movieDetail)" *ngIf="!this.personalMovie.exist(movieDetail.imdbID) else exist" class="addButton">
              <ion-icon name="add-circle-outline"></ion-icon>
            </ion-button>
            <ng-template #exist >
              <ion-button disabled="true" class="addButton">
                <ion-icon name="checkmark-circle"></ion-icon>
              </ion-button>
            </ng-template>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>
  </ng-template>
</ion-content>
