#loginbox {
  width: fit-content;
  height: fit-content;
}
#carddiv{
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../../assets/movieswallpaper.jpg");
}
.item-native{
  padding-inline-start: unset;
}
ion-icon{
  margin: 12px 12px 12px 0px;
}
