<ion-header>
  <ion-toolbar>
    <ion-title>{{'LOGIN' | translate}}</ion-title>
    <ion-icon name="language" slot="end" style="margin-right: 15px" (click)="uiService.startLangList()"></ion-icon>
    <ion-icon slot="end" name="color-palette" style="margin-right: 15px" (click)="uiService.openListColors()"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content style="height: 100vh" id="contentbox">
  <div id="carddiv">
    <ion-card id="loginbox">
      <ion-card-content >
        <ion-card-header>
          <ion-card-title>
            <h1 style="text-align: center">{{'WELCOME' | translate}}</h1>
          </ion-card-title>
        </ion-card-header>
        <ion-item>
          <ion-icon name="person-sharp"></ion-icon>
          <ion-input [placeholder]="'EMAILADDRESS' | translate" [(ngModel)]="email" (keypress)="emailKeyPress($event.keyCode)"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="lock-closed-sharp"></ion-icon>
          <ion-input #passInput [placeholder]="'PASSWORD' | translate" type="password" [(ngModel)]="password" (keypress)="passKeyPress($event.keyCode)"></ion-input>
        </ion-item>
        <div style="display: flex">
        <ion-button (click)="login()" style="width: 50%">
          {{'LOGIN' | translate}}
        </ion-button>
        <ion-button (click)="register()" style="width: 50%">
          {{'REGISTER' | translate}}
        </ion-button>
        </div>
        <ion-button (click)="anonimousLogin()" style="width: 100%">
          {{'ANONIMOUS' | translate}}
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
