<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      {{'MOVIELIST' | translate}}
    </ion-title>
    <ion-icon name="language" slot="end" style="margin-right: 15px" (click)="uiService.startLangList()"></ion-icon>
    <ion-icon slot="end" name="color-palette" style="margin-right: 15px" (click)="uiService.openListColors()"></ion-icon>
    <ion-button slot="end" style="padding-right: 5px" (click)="logout()">
      <ion-icon name="exit"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" scroll-events="true" (ionScroll)="checkScroll($event)">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-input [placeholder]="'WRITETITLE' | translate" [(ngModel)]="title" (keypress)="onEnterSearch($event.keyCode)"></ion-input>
          <ion-button (click)="startScroll()" style="width: available">
            <ion-icon name="search-circle-outline"></ion-icon>
          </ion-button>
        </ion-item>
      </ion-col>
      <ion-col size="12">
        <ion-segment value="list" (ionChange)="changeView($event)">
          <ion-segment-button value="list">
            <ion-label>{{'LIST' | translate}}</ion-label>
          </ion-segment-button>
          <ion-segment-button value="poster">
            <ion-label>{{'COVER' | translate}}</ion-label>
          </ion-segment-button>
        </ion-segment>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!poster; else modelPoster">
      <ion-col size="12">
        <ion-list *ngIf="firstLoad == false; else skeleton">
          <ion-virtual-scroll [items]="movieList">
            <ion-item-sliding *virtualItem="let movie" style="margin-bottom: 5px">
              <ion-item (click)="seeMore(movie)">
                <ion-thumbnail slot="start">

                  <ion-img [alt]="movie.title" *ngIf="movie.poster != 'N/A' else notfound" [src]=movie.poster></ion-img>
                  <ng-template #notfound>
                    <ion-img [alt]="movie.title" src="https://cdn.browshot.com/static/images/not-found.png"></ion-img>
                  </ng-template>
                </ion-thumbnail>
                <ion-label >{{movie.title}}</ion-label>
                <ion-icon name="arrow-redo" slot="end" color="primary"></ion-icon>
              </ion-item>
              <ion-item-options side="end">
                <ion-item-option color="primary">
                  <ion-button (click)="seeLater(movie)" *ngIf="!this.personalMovie.exist(movie.id) else exist" >
                    <ion-icon name="add-circle-outline"></ion-icon>
                  </ion-button>
                  <ng-template #exist>
                    <ion-button disabled="true">
                      <ion-icon name="checkmark-circle"></ion-icon>
                    </ion-button>
                  </ng-template>
                </ion-item-option>
              </ion-item-options>
            </ion-item-sliding>
          </ion-virtual-scroll>
        </ion-list>
        <ng-template #skeleton>
          <ion-list>
            <ion-item *ngFor="let item of [].constructor(10)">
              <ion-thumbnail slot="start">
                <ion-skeleton-text animated></ion-skeleton-text>
              </ion-thumbnail>
              <ion-skeleton-text animated></ion-skeleton-text>
              <ion-skeleton-text animated slot="end"></ion-skeleton-text>
            </ion-item>
          </ion-list>
        </ng-template>
      </ion-col>
    </ion-row>

    <ng-template #modelPoster>
      <ion-row>
        <ion-col size="12" size-sm="6" size-md="4" size-lg="3" size-xl="2" *ngFor="let movie of movieList; index as position">
            <ion-img [alt]="movie.title" [src]="movie.poster" class="poster" (click)="actionModal(movie)" *ngIf="movie.poster != 'N/A' && movie.poster != null; else notFoundPoster"></ion-img>
          <ng-template #notFoundPoster>
            <ion-img [alt]="movie.title" src="https://linnea.com.ar/wp-content/uploads/2018/09/404PosterNotFound.jpg" class="poster" (click)="actionModal(movie)"></ion-img>
          </ng-template>
        </ion-col>
      </ion-row>
    </ng-template>
    <ion-infinite-scroll threshold="10px" (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        [loadingText]="'LOADINGDATA' | translate">
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-grid>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" activated="true" #scrollTopFab>
    <ion-fab-button closeIcon="arrow-down-outline" (click)="moveScroll()">
      <ion-icon name="arrow-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
