<ion-header>
  <ion-toolbar>
    <ion-title>{{'SAVED' | translate}}</ion-title>
    <ion-icon name="language" slot="end" style="margin-right: 15px" (click)="uiService.startLangList()"></ion-icon>
    <ion-icon slot="end" name="color-palette" style="margin-right: 15px" (click)="uiService.openListColors()"></ion-icon>
    <ion-button slot="end" style="padding-right: 5px" (click)="logout()">
      <ion-icon name="exit"></ion-icon>
    </ion-button>
  </ion-toolbar>

</ion-header>

<ion-content>
  <ion-grid *ngIf="loaded; else isLoading">
    <ion-row>
      <ion-col>
        <ion-button (click)="toggleFilter()" style="width: 100%">
          <ion-icon name="funnel"></ion-icon>
        </ion-button>
        <div id="containerFilters">
          <ion-item [hidden]="showFilters">
          <ion-input [placeholder]="'WRITETITLE' | translate" [(ngModel)]="value" (keypress)="onEnterFilter($event.keyCode)"></ion-input>
          <ion-button (click)="addFilter()" #addFilterButton>
            <ion-icon name="search-circle-outline"></ion-icon>
          </ion-button>
          <ion-button (click)="eraseFilter()" disabled="true" #eraseFilterButton>
            <ion-icon name="ban"></ion-icon>
          </ion-button>
          </ion-item>
          <ion-segment [(ngModel)]="seenFilter" [hidden]="showFilters" (click)="sortMovies()" #segmentSeen>
            <ion-segment-button value="all">
              <ion-label>{{'ALL' | translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="seen">
              <ion-label>{{'VIEWED' | translate}}</ion-label>
            </ion-segment-button>
            <ion-segment-button value="notseen">
              <ion-label>{{'NOTVIEWED' | translate}}</ion-label>
            </ion-segment-button>
          </ion-segment>
        </div>
      </ion-col>
    </ion-row>
    <ion-list>
      <ion-card *ngFor="let saved of movies; index as position; trackBy: trackItems">
        <ion-card-header>
          <ion-item-sliding>
            <ion-item lines="none" (click)="showCardBody(saved[0])">
              <ion-thumbnail slot="start">
                <ion-img *ngIf="saved[1].movie.poster != 'N/A' else notfound" [src]=saved[1].movie.poster></ion-img>
                <ng-template #notfound>
                  <ion-img src="https://cdn.browshot.com/static/images/not-found.png"></ion-img>
                </ng-template>
              </ion-thumbnail>
              <ion-label>{{saved[1].movie.title}}</ion-label>
              <ion-icon *ngIf="saved[1].seen; else notSeen" name="eye" slot="end"></ion-icon>
              <ng-template #notSeen>
                <ion-icon name="eye-off" slot="end"></ion-icon>
              </ng-template>
              <ion-icon name="options-outline" slot="end" color="primary"></ion-icon>
            </ion-item>
            <ion-item-options side="start">
              <ion-item-option>
                <ion-button (click)="seeMore(saved[1].movie)">
                  <ion-icon name="information-circle"></ion-icon>
                </ion-button>
              </ion-item-option>
            </ion-item-options>
            <ion-item-options side="end">
              <ion-item-option color="danger">
                <ion-button (click)="askForRemove(position)" color="danger">
                  <ion-icon name="trash-outline"></ion-icon>
                </ion-button>
              </ion-item-option>
            </ion-item-options>
          </ion-item-sliding>
        </ion-card-header>

        <ion-card-content [id]="saved[0]" hidden="true">
          <h5 style="text-align: center">{{saved[1].movie.title}}</h5>
          <ion-item lines="none">
            <ion-icon name="eye"></ion-icon>
            <ion-checkbox [(ngModel)]="saved[1].seen" slot="end"></ion-checkbox>
          </ion-item>
          <ion-item lines="none">
            <ion-label>{{'PRIORITY' | translate}}</ion-label>
            <ion-select [value]=saved[1].priority (ionChange)="changePriority(position,$event)" >
              <ion-select-option [value]=1 >{{'LOW' | translate}}</ion-select-option>
              <ion-select-option [value]=2>{{'MEDIUM' | translate}}</ion-select-option>
              <ion-select-option [value]=3 >{{'HIGH' | translate}}</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-card-content>
      </ion-card>

    </ion-list>
  </ion-grid>
  <ng-template #isLoading>
    <ion-item lines="none">
      <ion-thumbnail slot="start">
        <ion-skeleton-text animated></ion-skeleton-text>
      </ion-thumbnail>
      <ion-skeleton-text animated></ion-skeleton-text>
      <ion-skeleton-text animated slot="end"></ion-skeleton-text>
      <ion-skeleton-text animated slot="end"></ion-skeleton-text>
    </ion-item>
  </ng-template>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button (click)="buttonSave()">
      <ion-icon name="save-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
