ion-card{
  margin: 4px;
  box-shadow: --ion-item-border-color 0px 3px 1px -2px;
}
ion-card-header{
  padding-inline: unset;
  padding: unset;
}
ion-card-content ion-item{
  box-shadow: none;
}
ion-item-option ion-button{
  --box-shadow: none !important;
}
