<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="search">
      <ion-icon name="list"></ion-icon>
      <ion-label>{{'SEARCH' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="detail">
      <ion-icon name="menu"></ion-icon>
      <ion-label>{{'DETAILS' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="saved">
      <ion-icon name="heart"></ion-icon>
      <ion-label>{{'SAVED' |translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
