/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";



.dark {
  --ion-color-primary: #7B1FA2;
  --ion-color-primary-rgb: rgb(#7B1FA2);
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #511369;
  --ion-color-primary-tint: #FF4081;

  --ion-background-color: #000000;
  --ion-background-color-rgb: 0,0,0;

  --ion-text-color: #ffffff;
  --ion-text-color-rgb: 255,255,255;

  --ion-color-step-50: #0d0d0d;
  --ion-color-step-100: #1a1a1a;
  --ion-color-step-150: #262626;
  --ion-color-step-200: #333333;
  --ion-color-step-250: #404040;
  --ion-color-step-300: #4d4d4d;
  --ion-color-step-350: #595959;
  --ion-color-step-400: #666666;
  --ion-color-step-450: #737373;
  --ion-color-step-500: #808080;
  --ion-color-step-550: #8c8c8c;
  --ion-color-step-600: #999999;
  --ion-color-step-650: #a6a6a6;
  --ion-color-step-700: #b3b3b3;
  --ion-color-step-750: #bfbfbf;
  --ion-color-step-800: #cccccc;
  --ion-color-step-850: #d9d9d9;
  --ion-color-step-900: #e6e6e6;
  --ion-color-step-950: #f2f2f2;

  --ion-toolbar-background: #1f1f1f;

  --ion-item-background: #1c1c1d;

  --ion-card-background: #1c1c1d;
  --ion-overlay-background-color: #1c1c1d;
  .list-md{
    background: var(--ion-background-color);
  }
  .alert-wrapper{
    background: #131313;
  }
  .ion-input{
    background: #000000;
  }
}
.yellow {
  --color: #FFC107;
  --ion-color-primary: #c67701;
  --ion-color-primary-rgb: rgb(#FF9800);
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #F57C00;
  --ion-color-primary-tint: #f8d772;

  --ion-background-color: #ffe5be;
  --ion-background-color-rgb: rgb(#ffe5be);

  --ion-text-color: #000000;
  --ion-text-color-rgb: 0,0,0;


  --ion-toolbar-background: #ffe096;

  .list-md{
    background: var(--ion-background-color);
  }
  .alert-wrapper{
    background: #FFE0B2;
  }
}

.blue {
  --color: #009688;
  --ion-color-primary: #00796B;
  --ion-color-primary-rgb: rgb(#00796B);
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #00534a;
  --ion-color-primary-tint: #009688;

  --ion-background-color: #ccfaf6;
  --ion-background-color-rgb: rgb(#ccfaf6);

  --ion-text-color: #000000;
  --ion-text-color-rgb: 0,0,0;


  --ion-toolbar-background: #9ce2de;

  .list-md{
    background: var(--ion-background-color);
  }
  .alert-wrapper{
    background: #B2DFDB;
  }
}

.green {
  --color: #8BC34A;
  --ion-color-primary: #5da221;
  --ion-color-primary-rgb: rgb(#689F38);
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #51772a;
  --ion-color-primary-tint: #8BC34A;

  --ion-background-color: #DCEDC8;
  --ion-background-color-rgb: rgb(#DCEDC8);

  --ion-text-color: #212121;
  --ion-text-color-rgb: rgb(#212121);


  --ion-toolbar-background: #cfe997;


  .list-md{
    background: var(--ion-background-color);
  }
  .alert-wrapper{
    background: #cfe997;
  }
}


